html {
	background: #FBFBFB;
	/*color: #000;*/
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #5878a2;
}
.location ol li {
	list-style: none;
	display: inline-block;
}
body {
	margin: 10px;
	max-width: 1000px;
	background: #fff;
	padding: 20px;
}
@media (min-width:1020px) {
	body {
		margin: auto;
	}
}
#forum-title {
	cursor: pointer;
}
.login-form input,
.register-user input {
	display: block;
}
button.login-button,
.register-button-group {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.select-user > select {
	width: 150px;
}
.search-bar > input{
	width: 200px;
	background: #f5faff;
	float: right;
	transition: width 0.3s, background 0.3s;
}
.search-bar > input:focus {
	width: 250px;
	background: #fff;
}
svg.button {
	cursor: pointer;
	fill: #a4abad;
	transition: fill 0.3s;
}
svg.button:hover {
	fill: #10b4ef;
}
ul.moderators {
	display: inline;
	padding-left: 5px;
}
ul.moderators li {
	list-style: none;
	display: inline;
}
ul.moderators li:after {
  content: ',';
}

.moderators li:last-of-type:after {
  content: '';
}

/* Topics */

ul.topic-list {
  padding: 0;
}
ul.topic-list li {
	margin: 0;
	padding: 12px;
  cursor: pointer;
  list-style: none;
	border-bottom: 1px solid #ececec;
}
ul.topic-list li h2,
ul.topic-list li p {
	margin: 0 12px;
}
ul.topic-list li h2 {
	font-size: 1rem;
}
ul.topic-list li p {
	font-size: 0.8rem;
	display: inline-block;
	/*margin: 12px 0;*/
}
input.topic-title,
p.topic-body,
p.post-body {
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #c7d2d6;
	transition: border 0.3s;
}
p.topic-body {
	background: #fff;
	border-radius: 4px;
	min-height: 200px;
	padding: 12px;
}
input.topic-title:focus,
p.topic-body:focus {
	box-shadow: none;
	border-bottom: 2px solid #00b8ff;
	outline: none;
}
.topic-details p,
.post-details p {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	font-size: 0.75rem;
}

.post p.post-body {
	background: #fff;
	border-radius: 4px;
	min-height: 100px;
	padding: 12px;
}

.uic-form-element meter {
	width: 150px;
	height: 20px;
	margin: 8px 0;
}

.errors-popup {
	position: fixed;
	background: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-border-radius: 2px;
	border-radius:2px;
	padding: 20px;
	z-index: 2;
	list-style: none;
}
.errors-popup ul {
	list-style: none;
	padding: 0;
}
