html {
	background: #FBFBFB;
	color: #000;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.location ol li {
	list-style: none;
	display: inline-block;
}

svg.button {
	cursor: pointer;
	fill: #a4abad;
	transition: fill 0.3s;
}
svg.button:hover {
	fill: #10b4ef;
}

ul.topic-list {
  padding: 5px;
}
ul.topic-list li.topic {
  cursor: pointer;
  list-style: none;
}
